<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    <h1>Detalle de un producto</h1>
    <section>
        <h2>Sección 2</h2>
        <article>
            <img src="" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas optio fugit in rerum, vitae, aliquid officiis aut consequatur amet quasi saepe voluptas culpa esse. Illum neque doloremque totam quod vero.</p>
        </article>
    </section>
<%- include('./partials/footer')  %>
</body>
</html>
