<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Peliculas</title>
</head>
<body>
  <h1>Listado de peliculas</h1>
  <ul>
    <% for(let i=0; i<resultados.length; i++){ %>
      <li>
         <a href="/movies/detalle/<%= resultados[i].id %>"> <%= resultados[i].title %> </a> 
      </li>
    <% } %> 
  </ul>
</body>
</html>