<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(locals.user){ %> 
    <h2>Hola: <%= locals.user.name %>  </h2>
    <form action="/login/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
    <% } %> 
    <h1>DH Movies</h1>
    <p>Welcome to DH Movies</p>
    <nav>
      <ul>
        <li>
          <a href="/register">Registrate</a>
        </li>
        <li>
          <a href="/login">login</a>
        </li>
        <li>
          <a href="/movies">Todas las películas</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
